.separator {
    background: url(../images/background/bg-short.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55px;
}
.separator-header {
    margin-top: 50px;
}
.separator-footer {
    border-bottom: 50px solid white;
}
@media (max-width:500px) {
    .separator {
        background: url(../images/background/bg-short-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}